<launch>
  <!-- Start Velodyne, and 3D to 2D conversions -->
  <include file="$(find spot_autonomy)/launch/velodyne.launch" />

  <!-- <include file="$(find spot_autonomy)/launch/start_spot_interface.launch" />   -->
  <!-- <include file="$(find spot_autonomy)/launch/start_clearpath_spot.launch" />   -->

  <!--
  <node name="websocket" 
      pkg="spot_autonomy"
      type="websocket"
      args="scan:=velodyne_2dscan_highbeams" 
      respawn="true"
      respawn_delay="2" />
  -->

  <node name="enml" 
      pkg="spot_autonomy"
      type="enml"
      args="-c $(find spot_autonomy)/config -r enml.lua -m $(find spot_autonomy)/maps" 
      respawn="true"
      respawn_delay="2" />
  
  <node name="navigation" 
      pkg="spot_autonomy"
      type="navigation"
      args="-maps_dir $(find spot_autonomy)/maps --robot_config $(find spot_autonomy)/config/navigation.lua" 
      respawn="true"
      respawn_delay="2" />

</launch>
